<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
  <meta charset="UTF-8">
  <title>Insert title here</title>
  <script>

    // * oauth2Login()
    // function authorizationCode() {
    //   window.location = new URL('http://localhost:8081/oauth2/authorization/keycloak1');
    //
    // }
    // function authorizationCodeWithPKCE() {
    //   window.location = new URL('http://localhost:8081/oauth2/authorization/keycloakWithPKCE');
    // }
    //
    // function implicit() {
    //   window.location = new URL('http://localhost:8081/oauth2/authorization/keycloak2');
    // }

    // * oauth2Client()
    function authorizationCode(){
      window.location = new URL('http://localhost:8081/oauth2/authorization/keycloak');
    }

    function password(){
      window.location = new URL('http://localhost:8081/oauth2/authorization/keycloak2');
    }

    function clientCredentials(){
      window.location = new URL('http://localhost:8081/oauth2/authorization/keycloak3');
    }


  </script>
</head>
<body>
<div>Welcome</div>
<div sec:authorize="isAuthenticated()"><a th:href="@{/logout}">Logout</a></div>
<form sec:authorize="isAnonymous()" action="#">
  <!-- oauth2Login() -->
  <!--  <p><input type="button" onclick="authorizationCode()" value="AuthorizationCode Grant"/>-->
  <!--  <p><input type="button" onclick="authorizationCodeWithPKCE()"-->
  <!--            value="AuthorizationCode Grant with PKCE"/>-->
  <!--  <p><input type="button" onclick="implicit()" value="Implicit Grant"/>-->

  <!-- oauth2Client() -->
  <p><input type="button" onclick="authorizationCode()" value="AuthorizationCode Grant"/>
  <p><input type="button" onclick="password()" value="Resource Owner Password Grant"/>
  <p><input type="button" onclick="clientCredentials()" value="Client Credentials Grant"/>
</form>
</body>
</html>